@media (min-width: 2532px) {
    .weather-main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        padding: 20px;
        background: linear-gradient(to bottom, #61b7f6, #2c79c1);
        color: white;
        box-shadow: 0 4px 8px rgba(0,0,0,0,5);
    }

    .open-btn:after{
        content: '\2807';
        position: absolute;
        top: 10px; /* Adjust the spacing from the top edge */
        right: 10px; /* Adjust the spacing from the right edge */
        background: transparent;
        border: none;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }

    .add-loc:after{
        content: '+';
        position: absolute;
        top: -6px; /* Adjust the spacing from the top edge */
        left: 10px; /* Adjust the spacing from the right edge */
        background: transparent;
        border: none;
        font-size: 3rem;
        color: white;
        cursor: pointer;
    }

    @font-face {
        font-family: "Regular";
        src: local("Calibri"),
          url("./fonts/calibri.ttf") format("truetype");
      }

    .grid-container {
        display: grid;
        grid-template-areas:
          "left-top right-top"
          "left-bottom right-bottom";
        gap: 20px;
      }
      
      .item {
        display: flex;
        align-items: flex-start;
        gap: 10px;
      }
      
      .left-top {
        grid-area: left-top;
      }
      
      .right-top {
        grid-area: right-top;
      }
      
      .left-bottom {
        grid-area: left-bottom;
      }
      
      .right-bottom {
        grid-area: right-bottom;
      }

      p {
        margin: 0;
        line-height: 1;
      }


    .block-data {
        display: flex;
        flex-direction: column; /* Ensures the wind data and label stack vertically */
        align-items: left; /* Optional: centers text under the icon */
    }

    .forecast-block {
        display:flex;
        justify-content: space-between;
        margin-inline: 5%;
    }

    /* .forecast {
        display:flex;
        justify-content: space-between;
    } */




    .weather-bottom {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        background-color: #2c79c1;
        color: white;
        box-shadow: 0 4px 8px rgba(0,0,0,0,5);
    }
    
    .moon {
        fill: white;
        filter: drop-shadow(0 0 20px rgba(252, 252, 252, 0.8));
        width: 80px;
        height: 80px;
    }
    
    .sun {
        fill: #f2bb05;
        filter: drop-shadow(0 0 20px rgba(232, 201, 100, 0.8));
        width: 80px;
        height: 80px;
    }
    
    @keyframes moveCloud {
        0%,
        100%{
            transform: translateX(-65px);
        }
        50%{
            transform: translateX(65px);
        }
    }
    
    .cloud {
        fill: lightblue;
        filter: drop-shadow(0 0 20px rgba(173, 216, 230, 0.8));
        width: 80px;
        height: 80px;
        animation: moveCloud 8s ease-in-out infinite;
    }

    .windSvg, .pressureSvg {
        fill: white;
        filter: drop-shadow(0 0 20px rgba(173, 216, 230, 0.8));
        width: 30px;
        height: 30px;
    }
    
    .cloud-container {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        /* margin-bottom: -25px; */
    }
    
    .temperature {
        font-size: 5rem;
        font-weight: bold;
        margin-top: 25px;
    }
    
    .today-date {
        font-size: 1rem;
        margin-top: 55px;
    }

    .feels-like {
        font-size: 1rem;
        margin-bottom:20px;
    }
    
    .wind, .pressure {
        font-size: 1rem;
    }
    
    .location {
        font-size: 2.5rem;
        font-weight: bold;
        margin-top: 5px;
    }
}

@media (max-width: 2532px) {
    .weather-main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        padding: 20px;
        background: linear-gradient(to bottom, #61b7f6, #2c79c1);
        color: white;
        box-shadow: 0 4px 8px rgba(0,0,0,0,5);
    }

    .open-btn:after{
        content: '\2807';
        position: absolute;
        top: 10px; /* Adjust the spacing from the top edge */
        right: 10px; /* Adjust the spacing from the right edge */
        background: transparent;
        border: none;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }

    .add-loc:after{
        content: '+';
        position: absolute;
        top: -6px; /* Adjust the spacing from the top edge */
        left: 10px; /* Adjust the spacing from the right edge */
        background: transparent;
        border: none;
        font-size: 3rem;
        color: white;
        cursor: pointer;
    }

    @font-face {
        font-family: "Regular";
        src: local("Calibri"),
          url("./fonts/calibri.ttf") format("truetype");
      }

    .grid-container {
        display: grid;
        grid-template-areas:
          "left-top right-top"
          "left-bottom right-bottom";
        gap: 20px;
      }
      
      .item {
        display: flex;
        align-items: flex-start;
        gap: 10px;
      }
      
      .left-top {
        grid-area: left-top;
      }
      
      .right-top {
        grid-area: right-top;
      }
      
      .left-bottom {
        grid-area: left-bottom;
      }
      
      .right-bottom {
        grid-area: right-bottom;
      }

      p {
        margin: 0;
        line-height: 1;
      }


    .block-data {
        display: flex;
        flex-direction: column; /* Ensures the wind data and label stack vertically */
        align-items: left; /* Optional: centers text under the icon */
    }

    .forecast-block {
        display:flex;
        justify-content: space-between;
        margin-inline: 5%;
    }

    /* .forecast {
        display:flex;
        justify-content: space-between;
    } */




    .weather-bottom {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        background-color: #2c79c1;
        color: white;
        box-shadow: 0 4px 8px rgba(0,0,0,0,5);
    }
    
    .moon {
        fill: white;
        filter: drop-shadow(0 0 20px rgba(252, 252, 252, 0.8));
        width: 80px;
        height: 80px;
    }
    
    .sun {
        fill: #f2bb05;
        filter: drop-shadow(0 0 20px rgba(232, 201, 100, 0.8));
        width: 80px;
        height: 80px;
    }
    
    @keyframes moveCloud {
        0%,
        100%{
            transform: translateX(-65px);
        }
        50%{
            transform: translateX(65px);
        }
    }
    
    .cloud {
        fill: lightblue;
        filter: drop-shadow(0 0 20px rgba(173, 216, 230, 0.8));
        width: 80px;
        height: 80px;
        animation: moveCloud 8s ease-in-out infinite;
    }

    .windSvg, .pressureSvg {
        fill: white;
        filter: drop-shadow(0 0 20px rgba(173, 216, 230, 0.8));
        width: 30px;
        height: 30px;
    }
    
    .cloud-container {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        /* margin-bottom: -25px; */
    }
    
    .temperature {
        font-size: 5rem;
        font-weight: bold;
        margin-top: 25px;
    }
    
    .today-date {
        font-size: 1rem;
        margin-top: 55px;
    }

    .feels-like {
        font-size: 1rem;
        margin-bottom:20px;
    }
    
    .wind, .pressure {
        font-size: 1rem;
    }
    
    .location {
        font-size: 2.5rem;
        font-weight: bold;
        margin-top: 5px;
    }
}

@media (max-width: 200px) {
    .weather-main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        padding: 20px;
        background: linear-gradient(to bottom, #61b7f6, #2c79c1);
        color: white;
        box-shadow: 0 4px 8px rgba(0,0,0,0,5);
    }

    .open-btn:after{
        content: '\2807';
        position: absolute;
        top: 10px; /* Adjust the spacing from the top edge */
        right: 10px; /* Adjust the spacing from the right edge */
        background: transparent;
        border: none;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }

    .add-loc:after{
        content: '+';
        position: absolute;
        top: -6px; /* Adjust the spacing from the top edge */
        left: 10px; /* Adjust the spacing from the right edge */
        background: transparent;
        border: none;
        font-size: 3rem;
        color: white;
        cursor: pointer;
    }

    @font-face {
        font-family: "Regular";
        src: local("Calibri"),
          url("./fonts/calibri.ttf") format("truetype");
      }

    .grid-container {
        display: grid;
        grid-template-areas:
          "left-top right-top"
          "left-bottom right-bottom";
        gap: 0px;
      }
      
      .item {
        display: flex;
        align-items: flex-start;
        gap: 10px;
      }
      
      .left-top {
        grid-area: left-top;
      }
      
      .right-top {
        grid-area: right-top;
      }
      
      .left-bottom {
        grid-area: left-bottom;
      }
      
      .right-bottom {
        grid-area: right-bottom;
      }

      p {
        margin: 0;
      }


    .block-data {
        display: flex;
        flex-direction: column; 
        align-items: left;
    }

    .forecast-block {
        display:flex;
        justify-content: space-between;
        margin-inline: 5%;
    }

    .weather-bottom {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        background-color: #2c79c1;
        color: white;
        box-shadow: 0 4px 8px rgba(0,0,0,0,5);
    }
    
    .moon {
        fill: white;
        filter: drop-shadow(0 0 20px rgba(252, 252, 252, 0.8));
        width: 80px;
        height: 80px;
    }
    
    .sun {
        fill: #f2bb05;
        filter: drop-shadow(0 0 20px rgba(232, 201, 100, 0.8));
        width: 80px;
        height: 80px;
    }
    
    @keyframes moveCloud {
        0%,
        100%{
            transform: translateX(-65px);
        }
        50%{
            transform: translateX(65px);
        }
    }
    
    .cloud {
        fill: lightblue;
        filter: drop-shadow(0 0 20px rgba(173, 216, 230, 0.8));
        width: 80px;
        height: 80px;
        animation: moveCloud 8s ease-in-out infinite;
    }

    .windSvg, .pressureSvg {
        fill: white;
        filter: drop-shadow(0 0 20px rgba(173, 216, 230, 0.8));
        width: 30px;
        height: 30px;
    }
    
    .cloud-container {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        /* margin-bottom: -25px; */
    }
    
    .temperature {
        font-size: 5rem;
        font-weight: bold;
        margin-top: 25px;
    }
    
    .today-date {
        font-size: 1rem;
        margin-top: 55px;
    }

    .feels-like {
        font-size: 1rem;
        margin-bottom:20px;
    }
    
    .wind, .pressure {
        font-size: 1rem;
    }
    
    .location {
        font-size: 2.5rem;
        font-weight: bold;
        margin-top: 5px;
    }
}